extends ../layout

block subnav
  - var current = "help";
  include ../subnav

block content
  .container.mt-3
    .row
      .col-sm-12
        h1 Help

        dl
          dt Question 1
          dd
            | Answer 1

          dt Question 2
          dd
            | Answer 2
