header
  .container-fluid.d-none.d-sm-block(style={'text-align': 'center'})
    a(href="//ioos.us")
      img.m-2.ioos-banner(src="/images/IOOS_Emblem_Tertiary_B_RGB.png")
  nav.navbar.navbar-expand-lg.navbar-dark.bg-ioos
    .container
      a.navbar-brand.mr-5(href="//ioos.us")
        img(alt="IOOS logo", src="/images/logo-navbar.png", style={'max-height': '42px'})
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar-content", aria-expanded="false", aria-label="Toggle nav")
        span.navbar-toggler-icon

      #navbar-content.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.dropdown.mr-4
            a#nav-drop-data.nav-link.dropdown-toggle.fg-ioos(href="#", data-toggle="dropdown", role="button",  aria-haspopup="true", aria-expanded="false")
              | Data
            .dropdown-menu(aria-labelledby="nav-drop-data")
              a.dropdown-item(href="//ioos.noaa.gov/about/ioos-by-the-numbers/") Metrics
              a.dropdown-item(href="//data.ioos.us") Search
              a.dropdown-item(href="//data.ioos.us/compliance", target="_blank") Compliance Checker

          li.nav-item.dropdown.mr-4
            a#nav-drop-viewers.nav-link.dropdown-toggle.fg-ioos(href="#", data-toggle="dropdown", role="button",  aria-haspopup="true", aria-expanded="false")
              | Viewers
            .dropdown-menu(aria-labelledby="nav-drop-viewers")
              a.dropdown-item(href="https://oceansmap.com/comt/", target="_blank") COMT
              a.dropdown-item(href="http://axiomdatascience.com/maps/ioos", target="_blank") Sensor Map
              a.dropdown-item(href="//eds.ioos.us", target="_blank") EDS Viewer
          li.nav-item.dropdown.mr-4
            a#nav-drop-dacs.nav-link.dropdown-toggle.fg-ioos(href="#", data-toggle="dropdown", role="button",  aria-haspopup="true", aria-expanded="false")
              | DACs
            .dropdown-menu(aria-labelledby="nav-drop-dacs")
              a.dropdown-item(href="//gliders.ioos.us/data/", target="_blank") Glider DAC
              a.dropdown-item(href="#") HF Radar DAC
              a.dropdown-item(href="http://oceanview.pfeg.noaa.gov/ATN/", target="_blank") ATN DAC
          li.nav-item.dropdown.mr-4
            a#nac-drop-ras.nav-link.dropdown-toggle.fg-ioos(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
              | Regional Associations
            .dropdown-menu(aria-labelledby="nav-drop-ras")
              a.dropdown-item(href="//ioos.us/regions") IOOS Region Map
              a.dropdown-item(href="//portal.aoos.org/" target="_blank") Alaska – AOOS
              a.dropdown-item(href="//www.caricoos.org/drupal/" target="_blank") Caribbean – CariCOOS
              a.dropdown-item(href="//data.cencoos.org/" target="_blank") Central and Northern California – CeNCOOS
              a.dropdown-item(href="//glos.us/" target="_blank") Great Lakes – GLOS
              a.dropdown-item(href="//data.gcoos.org/" target="_blank") Gulf of Mexico – GCOOS
              a.dropdown-item(href="//maracoos.org/" target="_blank") Mid-Atlantic – MARACOOS
              a.dropdown-item(href="//neracoos.org/realtime_map" target="_blank") Northeast Atlantic – NERACOOS
              a.dropdown-item(href="//oos.soest.hawaii.edu/pacioos/voyager/" target="_blank") Pacific Islands – PacIOOS
              a.dropdown-item(href="//nvs.nanoos.org/" target="_blank") Pacific Northwest – NANOOS
              a.dropdown-item(href="//portal.secoora.org/" target="_blank") Southeast Atlantic – SECOORA
              a.dropdown-item(href="//www.sccoos.org/data/overview/" target="_blank") Southern California – SCCOOS
          li.nav-item.dropdown
            a#nav-drop-about.nav-link.dropdown-toggle.fg-ioos(href="#", data-toggle="dropdown", role="button",  aria-haspopup="true", aria-expanded="false")
              | About
            .dropdown-menu(aria-labelledby="nav-drop-about")
              a.dropdown-item(href="https://ioos.us/contact-us", target="_blank") Contact Us
