header
  .tc
    a(href="//ioos.us")
      img.ma2.h2(src="/images/IOOS_Emblem_Tertiary_B_RGB.png")
  nav.bg-dark-blue.pa1
    .w-two-thirds.cf
      ul.list.dib.fn.ma0.pl0
        li.fl.db.mr1.relative.tc
          a.db(href="//ioos.us")
            img.h2.v-mid(alt="IOOS logo", src="/images/logo-navbar.png")
        li.fl.db.mr1.relative.tc
          a.ph3.pv3.db.link.light-blue(href="#", data-toggle="dropdown", role="button",  aria-haspopup="true", aria-expanded="false")
            | Data
            span.caret
          ul.dn(aria-labelledby="drop1")
            li
              a(href="//ioos.noaa.gov/about/ioos-by-the-numbers/") Metrics
            li
              a(href="//data.ioos.us") Search
            li
              a(href="//data.ioos.us/compliance", target="_blank") Compliance Checker
        li.fl.db.mr1.relative.tc
          a.ph3.pv3.db.link.light-blue(href="#", data-toggle="dropdown", role="button",  aria-haspopup="true", aria-expanded="false")
            | Viewers
            span.caret
          ul.dn(aria-labelledby="drop2")
            li
              a(href="https://oceansmap.com/comt/", target="_blank") COMT
            li
              a(href="http://axiomdatascience.com/maps/ioos", target="_blank") Sensor Map
            li
              a(href="//eds.ioos.us", target="_blank") EDS Viewer
        li.fl.db.mr1.relative.tc
          a.ph3.pv3.db.link.light-blue(href="#", data-toggle="dropdown", role="button",  aria-haspopup="true", aria-expanded="false")
            | DACs
            span.caret
              ul.dn(aria-labelledby="drop3")
                li
                  a(href="//gliders.ioos.us/data/", target="_blank") Glider DAC
                li
                  a(href="#") HF Radar DAC
                li
                  a(href="http://oceanview.pfeg.noaa.gov/ATN/", target="_blank") ATN DAC
        li.fl.db.mr1.relative.tc
          a.ph3.pv3.db.link.light-blue(href="#") Regional Associations
        li.fl.db.relative.tc
          a.ph3.pv3.db.link.light-blue(href="#", data-toggle="dropdown", role="button",  aria-haspopup="true", aria-expanded="false")
            | About
            span.caret
              ul.dn(aria-labelledby="drop4")
                li
                  a(href="https://ioos.us/contact-us", target="_blank") Contact Us

