doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    //link(rel="shortcut icon", href="/images/favicon.ico?v=2")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="IOOS Animal Telemetry Network")
    meta(name="author", content="IOOS")

    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet", type="text/css")
    link(rel="stylesheet",href="bootstrap.css")
    link(rel="stylesheet",href="atnstyle.css")
  body
    include ioos-header
    block content
    script(src="app.bundle.js")

