extends ../layout

block subnav
  - var current = "data";
  include ../subnav

block content
  .container.mt-3
    .row
      .col-sm-12
        h1 Data

    .row
      .col-sm-12
        p The ATN DAC provides access to Animal Telemety data in a variety of formats and through a variety of standardized services. Please check back for additional archive and real-time dataset being added to the DAC soon!

        ul
          li ATN DAC Dump from the original Stanford Block Lab IOOS ATN DAC
            ul
              li
                a(href="/map/") Map
              li
                a(href="http://atn.ioos.us/erddap/tabledap/stanford_import_ssm_public.html") ERDDAP
              li
                a(href="https://atn.ioos.us/thredds/catalog/atn/standard_import/ssm/public/catalog.html") THREDDS
